html {
  font-size: 16px;
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体',
    'YuGothic', 'メイリオ', Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
