@charset "utf-8";

$family-sans-serif: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体',
  'YuGothic', 'メイリオ', Roboto, Arial, sans-serif;
$body-background-color: #fafafa;
$primary: #d84f00;
$navbar-background-color: #333;
$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: #666;

@import 'bulma';

html {
  font-size: 16px;
}
